body {
  background-image: url("../media/images/steve-gribble-bnzK3Ndc0qY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position:center;
 
}

div {
  background-image: url("../media/images/download.jpg");
 
  
  
}
